<div>
  <td><%= loan.id %></td>
  <td><%= loan.category %></td>
  <td><%= loan.amount %></td>
  <td><%= loan.term %></td>
  <td><%= loan.lender.name %></td>
  <td><%= loan.accept ? "ACCEPTED": "WAITING" %></td>
  <td><%= link_to 'Edit', edit_borrower_loan_path(borrower.id,loan.id) unless loan.accept%></td>
  <td><%= link_to 'Show', borrower_loan_path(borrower.id,loan.id) %></td>
  <td><%= link_to 'Destroy', { action: :destroy, id: loan.id }, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>