<%= flash[:notice] %>
<%= flash[:warning] %>

<h2>Student</h2>
<table style="width:100%">
  <tr>
    <th>loan id</th>
    <th>loan category</th>
    <th>loan amount</th>
    <th>loan term</th>
    <th>lender name</th>
    <th>loan status</th>
    <th>loan edit</th>
    <th>loan show</th>
    <th>loan destroy</th>
  </tr>
<% @loans.student.each do |loan|%>
    <tr>
      <%= render partial: "loan_details", locals: {loan: loan, borrower: @borrower} %>
    </tr>
  <% end %>
</table>

<h2>HIL</h2>
<table style="width:100%">
  <tr>
    <th>loan id</th>
    <th>loan category</th>
    <th>loan amount</th>
    <th>loan term</th>
    <th>lender name</th>
    <th>loan status</th>
    <th>loan edit</th>
    <th>loan show</th>
    <th>loan destroy</th>
  </tr>
<% @loans.hil.each do |loan|%>
    <tr>
      <%= render partial: "loan_details", locals: {loan: loan, borrower: @borrower} %>
    </tr>
  <% end %>
</table>

<h2>Consolidation</h2>
  <table style="width:100%">
    <tr>
      <th>loan id</th>
      <th>loan category</th>
      <th>loan amount</th>
      <th>loan term</th>
      <th>lender name</th>
      <th>loan status</th>
      <th>loan edit</th>
      <th>loan show</th>
      <th>loan destroy</th>
    </tr>
<% @loans.consolidation.each do |loan|%>
      <tr>
        <%= render partial: "loan_details", locals: {loan: loan, borrower: @borrower} %>
      </tr>
    <% end %>
  </table>
<div>
  <%= link_to 'Apply Now', new_borrower_loan_path(current_borrower)%>
</div>