



<%=@loan.borrower.first_name %>
<%=@loan.borrower.last_name %>
<%=@loan.borrower.dob %>
<%=@loan.borrower.street_address %>
<%=@loan.borrower.city %>
<%=@loan.borrower.zipcode %>
<%=@loan.category %>
<%=@loan.amount %>
<%=@loan.term %>

<%= form_for [@lender,@loan], url: {action: "update"} do |f| %>
  <div>
    <%=f.label :accept %> $
    <%=f.check_box :accept %>

  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
