 <%= flash[:warning] %>
 <%= flash[:notice] %>
<% @loans.each do |loan| %>
  <div>
    <%=loan.id %>
  <%=loan.category %>
  <%= loan.amount %>
<%= loan.term %>
  <%=loan.borrower.first_name %>
  <%=loan.borrower.last_name %>
    <%= link_to loan.accept ? "ACCEPTED": "WAITING", edit_lender_lender_loan_path(@lender,loan) %>
  </div>
<%end %>